

@media screen and (max-width: 1280px) {
  .image_one {
    width: 25rem;
  }

  
  .text_container {
    width: 50%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }


  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  .form-container {
    max-width: 500px;
    background: #fff;
    width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }


/*about page*/

.about{
  display: flex;
  flex-direction: column;

  justify-items: center;


  width: 80%;

margin:0 auto;

}



/* prices page */

.trips__text {
  width: 50%;
}

.destinations {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.thumb {
  width: 40em;
  margin: 0px; 

}
.destinations .destination__trips{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.destination__trips__about{

  width: 80%;

}

}












@media screen and (max-width: 830px) {

  .image_one {
    width: 25rem;
  }

  
  .text_container {
    width: 50%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }


  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  .form-container {
    max-width: 500px;
    background: #fff;
    width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }


/*about page*/

.about{
  display: flex;
  flex-direction: column;

  justify-items: center;


  width: 80%;

margin:0 auto;

}



/* prices page */

.trips__text {
  width: 50%;
}

.destinations {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.thumb {
  width: 40em;
  margin: 0px; 

}
.destinations .destination__trips{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.destination__trips__about{

  width: 80%;

}

}











/* 480 */


@media screen and (max-width: 580px) {
  
.footer_nav__address{
float: none;
display: flex;
flex-direction: column;
margin: 0 5em;
text-align: center;
}

.image_one {
    width: 80rem;
  }
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  .form-container {
    max-width: 300px;
    background: #fff;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .text_container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }

/* about */


/* prices */

.thumb {
  width: 22em;
  margin: 0px; 

}
.trips__text{
 
  width: 90%;
  padding: 5px;
}

.destinations .destination__trips{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: var(--navy);
  color: #fff;
}

.about__info {
  margin-left: 0%;

}}