@media screen and (max-width: 820px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  .form-container {
    max-width: 500px;
    background: #fff;
    width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .image_one {
    width: 30rem;
  }

  .text_container {
    width: 50%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
}
/* prices page */

.trips__text {
  width: 50%;
}
.ourvalues {
  width: 100%;
  margin-left: 0em;
}

.destinations {
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.destinations > * {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 300px;
}

@media screen and (max-width: 480px) {
  .image_one {
    width: 80rem;
  }
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  .form-container {
    max-width: 300px;
    background: #fff;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .text_container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* about */

.image_one {
  width: 25rem;
}
.thumb {
  width: 19em;
  transition: 0.5s;
  margin: 40px;
}
.about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10rem;
}
footer {
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: var(--navy);
  color: #fff;
}

.about__info {
  margin-left: 0%;
}

.values__text {
  width: 70%;
  display: flex;
  justify-items: center;
}
