@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');






* { margin :0;
box-sizing:border-box;
list-style: none ;
text-decoration: none;


}
body { 
    margin:0;

  background-color: #F0F0F0E41;
  line-height: 1.7;
}
  
    
  
 .voodaserra{
  font-size: 1rem !important;
  position: relative !important;
  margin-left:20px !important;
  color:#3E84B5 !important;
}


.logo-container {
  display:flex;
  width: 100%;
  height:100%;
  
}


 .logotype{
   width: 130px;
   margin-top: -40px;
 }
 

.navbar{
  display:flex;
  font-weight: bold;
  margin-top:30px;


}
  
  .navbar a {
    font-size: 2rem;
    color: var(--black);
  }

nav ul{


}

.nav-1{
  color:#3E84B5;
 display:flex;
 gap: 12px;
 float: left;
 width: 50%;
}
  a {
    
    text-decoration: none;
  list-style: none;
    cursor:pointer;
    transition: .5s;
   
    
  }
  
  a:hover{
    
  }
  
  h1{
    
color:#3E84B5;
    font-size: 4rem !important;
    Line-height: 1.5;
    justify-content: center;
text-align:center;
font-weight:normal;

letter-spacing: 2px;

font-family: "Playfair Display",
serif;
}
    
  h2  {
    color:#3E84B5;
    text-align:center;
    font-weight:normal;
 
    letter-spacing: 2px;
    justify-content: center;
font-size: 3rem !important;

  font-family: "Playfair Display", serif;
  
  }
  
    h3{
      color:#3E84B5;
    margin: auto;
    font-size: 2rem;
    
    }
    
    
    
    
    
   .title-container{
     width: 100%;
   }
  
  /* note */
    
   .plantitle{
     font-family: "Playfair Display", serif;
     color:#3E84B5;
    margin: auto;
    padding: 10px;
 
    letter-spacing: 2px;
    font-weight:bold;
    font-size: 2rem !important;
    }
    
    p{
      color:#111221;
      font-size:2rem;
 
  font-family: "Roboto", serif;
  font-style: normal;
}
    
  
  .first{
    place-items: center;
  }
  
  .txt02 {
    
    text-align: center;
    margin:auto;
    width: 50%;
    letter-spacing: 3px;
  }
  
  
  .btn01{
    background-color: #05548B;
    border-radius:5px;
    color:#FFFFFF;
    font-weight:bold;
    width: 8rem;
    padding: 1rem;
   transition: .5s ease;
  place-items: center;
    
  }
  
  
    .btn-01:hover {
      
  background-color:#3E84B5;
  color:#FFFF;
  
    }
    
    .img01{
      width: 50rem;
      border-radius:10px;
      display: block;
    }
    
  
   
  
    }
    .plancontainer{
      margin-left: 50px;
    }
    .plantxtxt{
      width: 80%;
      letter-spacing: 4px;
      margin-left: 12px;
    }
    .text-container{
     display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-gap: 40px;
margin: 80px;
    }
    .container02{
     
    }
    
     span {
      
     color:#111221;
      font-size:1.7rem;

  font-family: "Roboto", serif;
  font-style: normal; 
  letter-spacing: 4px;
  
    }
    
   
  
   .container-titles{
     margin: 10px 5px;
   }
   
  
  .container-titles{
    margin-left: 20px;
    width: 30%;
  }